<!DOCTYPE html>
<html>
<head>
    <title>e-DSP网站后台管理系统-错误</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h2><%= error.status %>，抱歉</h2>
    <h2><%= message %></h2>
</body>
</html>

